.container {
  text-align: center;
}

.input-wrapper {
  margin: 10px;
}

.input-field {
  width: 200px;
  height: 30px;
}

.button {
  width: 200px;
  height: 30px;
}

.button-link {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: skyblue;
  margin: 20px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

table > td > button {
  margin: 5px;
}