*:focus {
  outline: none;
}

.container {
  text-align: center;
}

.input-wrapper {
  margin: 10px;
}

.input-field {
  width: 200px;
  height: 30px;
}

.button {
  width: 200px;
  height: 30px;
}

.button-link {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: skyblue;
  margin: 20px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

table > td > button {
  margin: 5px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-wrapper > ul {
  display: flex;
}

.header-wrapper > ul > li {
  list-style-type: none;
  padding: 5px;
}

.header-wrapper > ul > li > a {
  text-decoration: none;
}

.footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
  background-color: white;
}

.main-page-banner {
  background-image: url("https://img.freepik.com/free-photo/delicious-indian-food-tray_23-2148723505.jpg?w=900&t=st=1726910828~exp=1726911428~hmac=1cc6a456db93d0ca258e9007ac9283678db978f3d06b2d7be8fea6dce76a0952");
  background-color: rgb(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  padding: 30px;
  height: 230px;
  color: white;
  text-align: center;
}

.input-wrapper {
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: auto;
  width: 70%;
}

.select-input {
  height: 40px;
  border: none;
  width: 30%;
}

.search-input {
  height: 40px;
  border: none;
  width: 65%;
  border-left: 1px solid #ccc;
  padding-left: 15px;
}

.location-list {
  color: black;
  list-style-type: none;
  text-align: left;
  position: absolute;
  background-color: #ccc;
  padding: 0;
  margin-left: -5px;
  margin: 0;
  border: 1px solid #ccc;
}

.location-list li {
  width: 150px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.restaurant-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 50px;
}

.restaurant-wrapper {
  width: 45%;
  background-color: orange;
  margin: 10px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
}

.heading-wrapper {
  padding-left: 15px;
  display: flex;
  justify-content: flex-start;
}

.address-wrapper {
  padding-left: 15px;
  display: flex;
  justify-content: flex-start;
}

.restaurant-page-banner {
  background-image: url("https://img.freepik.com/free-photo/delicious-indian-food-tray_23-2148723505.jpg?w=900&t=st=1726910828~exp=1726911428~hmac=1cc6a456db93d0ca258e9007ac9283678db978f3d06b2d7be8fea6dce76a0952");
  background-color: rgb(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  padding: 30px;
  height: 230px;
  color: white;
  text-align: center;
}

.detail-wrapper {
  display: flex;
  background-color: orange;
}

.detail-wrapper h4 {
  width: 50%;
}

.food-item-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}

.food-item-wrapper .list-item {
  color: orange;
  font-weight: bold;
  border-bottom: 1px solid orange;
  padding: 20px;
  display: flex;
  text-transform: capitalize;
}

.food-item-wrapper .list-item button {
  color: #fff;
  border: none;
  background-color: orange;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.food-item-wrapper .list-item img {
  width: 100px;
  padding-right: 20px;
}

.food-item-wrapper .list-item .description {
  font-weight: lighter;
}

.list-item-block-1 {
  width: 20%;
}

.list-item-block-2 {
  width: 80%;
}

.list-item-block-3 {
  width: 20%;
}

.total-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: 1px solid orange;
  padding-bottom: 20px;
}

.total-wrapper .row {
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 20px;
  color: orange;
  font-weight: bold;
}

.order-now-button {
  width: 20%;
  margin-left: 40%;
  border: none;
  background-color: orange;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  color: white;
}
